head
	title CR4J's mixed demo
	meta(name='description', content='Jade Renderer Mixed Demo')
	meta(name='author', content='Code Research Laboratories')
	meta(http-equiv='content-type', content='text/html; charset=UTF-8')
	meta(http-equiv='expires', content='-1')
	link(type='text/css', media='screen', rel='stylesheet', href='stylesheets/style.css')
body(topmargin='0', leftmargin='0', rightmargin='0')
